#page-wrap {
     width: 800px;
     margin: 0 auto;
}
body {
     background-color: #FAF9F9;
}
section {
     line-height: 0.25;
     padding: 6px 0 3px 0;
}
h1 {
     text-align: center;
}
h4 {
     text-align: center;
}
h3 {
     border-bottom: 2px solid;
}
a:hover {
    color: red;
}
a {
     color: blue;
     text-decoration: underline;
}
.job-title {
     font-style: italic;
     font-weight: bold;
}
.degree {
     font-weight: bold;
}
.school {
     padding-bottom: 20px;
}
.reveal {
     display: none;
}
